@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

* { margin: 0; padding: 0; box-sizing: border-box; }

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

.media {
    padding: 1rem;
}

.head {
    padding: 3rem;
    text-align: center;
}

.tile .is-child {
    display: inline-block;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 10px 2rem; */
    transition: all 0.15s ease-out;
}

.channel .is-danger {
    box-shadow: #ff386055 0 10px 2rem;
}

.tile .is-child:hover {
    transform: scale(1.03);
    box-shadow: #ff3860ef 0 10px 2.5rem;
}

.container {
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .head {
        padding: 5rem;
    }
    .tile .is-child {
        padding: 3rem;
    }

    .container {
        padding: inherit;
    }
}

@media screen and (max-width: 767px) {
    #chatbar .navbar-brand {
        display: none;
    }
}

.hidden-profile {
    display: none;
}

.account {
    padding: 1rem 2rem;
    border: 1px solid #eee;
    border-radius: 100%;
}

.head .title,
.head .subtitle {
    transform: scale(1.2);
}

.title, .subtitle {
    font-family: 'Montserrat', sans-serif;
}